* {
  box-sizing: border-box;
}

*::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
}

.column{
  width: calc(100% / 3);
  float: left;
  background: #3d9d48;
  padding: inherit;
  border: .1rem solid black
}
.cat{
width: calc(50%)
}

.avatar{
float: right;
margin: 0;
}

.imagecap{
  margin-top: auto;
  margin-bottom: .5rem;
  background: yellow;
  overflow: auto;
}

.align{
  display: inline;
}

.inline{
  display: inline;
}
