body{
  margin: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  margin:0;
}

.container1 {
  max-width: 95%;
  margin: auto;
  outline-style: solid;
  outline-width: thin;
  outline-color: grey;
}

.row {
  display: flex;
  flex-wrap; wrap;
  max-width: 100%;
  align-items: stretch;
  margin-top: 3rem;
}

.col-1 {
flex-basis: calc(100% / 3);
display: inline-block;
padding: 0.6rem;
font-weight: bold;
font-family: sans-serif;
}


.cartoon_pic {
  width: 100%;
  border: 1px grey solid;
}

.cartoon_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px grey solid;
}

.cartoon-number {
  float: left;
  margin: 0;
  line-height: 1.5em;
  color: grey;
}

.cartoon_credits {
  float: right;
  margin: 0;
  padding-bottom: .5em;
  color: grey;
}

.cartoon_avatar {
  height: 2rem;
  vertical-align: middle;
}
